@charset "utf-8";
/* CSS Document */

/*  to use a style sheet use this code   <link rel="stylesheet" type="text/css" href="path to file">  */
 body {
        background: #4f4e4f;  		/*  page color */
        font-family: monospace;	/*  font choices serif, sans-serif, monospace, cursive, fantasy  */	
        font-size: 16pt;			/*  font size in pt, px or em  */	
    }

div {								/*  all div tags */
	border-radius: 7px;				/*  rounded corners on div  */
	background-color: #a651c8;		/*  background color  */
	max-width: fit-content;			/*  width of div  */
	margin-left: auto;				/*  margin on left  */
	margin-right: auto;				/*  margin on right  */
	margin-bottom: auto;			/*  margin on bottom  */
	}
   
h1, h2 {							/*   list mutiple tags with commas to set similar stuff */
	color: #442d01;					/*  color  */
	font-size: 20pt;				/*  size of font  */
    }

h3{ line-height: normal; 			/*  not have extra line  */
	font-size: 14pt;				
	font-weight: normal;			/*  not be bold   */
}			

p {									/*   all p tags */
    font-size: 14pt;				
	font-family: sans-serif;		
    }

a:link{								/*  Active links  */
	color: #0C9341;
	text-decoration: none;			/*  removes underline on links  */
    }
	
a:visited {							/*  Visited links  */
	color: #04510F;
    }

a:hover {							/*  Hover over link color  */
	color: #B57D04;
	text-decoration: underline;		/*  underlines link  */
    }

a:active {
	color: #ED080C;					/*  while you are clicking link  */
		}

table {
	border-top-left-radius: 7px;	/*  rounded corners on table  */
	border-top-right-radius: 7px;
	border-collapse: separate;		/*  separate or collapse  */
	min-height: fit-content;		/*  height of table  */
	width: 100%;					/*  width of table  */
	margin: 0 auto;					/*  margin on left and right  */
	border-spacing: 0;				/*  space between cells  */
}

table, th, td {						/*   table, th and td tags */
	text-align: center;				/*  center text in cells  */
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
}

select {							/*  select box or dropdown  */
    width: 100%;
    padding: 16px 20px;				/* top & bottom, left & right padding   - can do each side seperately  */
    border: none;
    border-radius: 4px;
    background-color: #466675;
}

input[type=button], input[type=submit], input[type=reset] {			/*  formatting buttons...specifically submit and reset */
	align-content: center;	
	border-color: #000000; 			/*  border color   */
	border-radius: 7px;				/*  rounded corners on cells  */	
}

td {
    max-width: 200px; /* Set the desired width of the table cell */
    max-height: 175px; /* Set the desired height of the table cell */
    padding: 0; /* Remove padding to ensure the image fills the cell */
}

tr:nth-child(even){					/*  Use to format only even rows */
	background-color: #358313;
}

tr:nth-child(odd){					/*  format only odd rows */
	background-color: #c9921b;
}

input[type=text], input[type=number] {					/*  testboxes */
	align-self: center;			/*  center text in box  */
    border: 2px solid #358313;			/*  border - same settings as table */
    border-radius: 4px;				/*  same as table settings */
	color: "#000000"; 				/* color in textbox  */
	background-color: #466675;		/*  color of textboxes */
}

textarea {							/* this would be a text area, like a comment box  */
    width: 125px;
    height: 150px;
    padding: 12px 20px;
	background-color: #c9921b;
	border: none;
	color: #466675;
	padding: 10px 15px; /* top & bottom padding     left & right padding */
	margin: 4px 2px;
	cursor: pointer;
	font-weight: bold;
	border-radius: 7px;
	border-collapse: collapse;
}

img {
	width: 100%; /* Make the image fill the width of the parent td */
    height: 100%; /* Make the image fill the height of the parent td */
    border-radius: 7px; /* Rounded edges */
    object-fit: cover; /* Ensure the image covers the specified dimensions */
}
		
